@import '../styles/bootstrap-essentials';

.sitterDetailCard {
  height: 100%;
  box-shadow: 0px 4px 40px 0px #f6844d1f;
  border-radius: 24px;
  @include media-breakpoint-up(lg) {
    min-height: 481px;
  }
}
