@import '../styles/bootstrap-essentials';

.bg-gradient-thirdly {
  background: linear-gradient(123.31deg, #86a9c2 0%, #adc9db 100%);
}

.footerLogo {
  width: 140px;

  @include media-breakpoint-up(md) {
    width: 178px;
  }
}

.socialIcons {
  a {
    display: inline-block;
    transition: transform 250ms ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    width: 32px;
    height: 32px;

    @include media-breakpoint-up(md) {
      width: 40px;
      height: 40px;
    }
  }
}
